
    <section id="function">
      <h2>Hello, visitor</h2>
      <p>
        This site is an interactive platform designed to track artists <br />
        and their trends over time.<br />
        It also serves as a platform for me to test things on.
      </p>
    </section>

    <section id="technologies">
      <h2>Technologies Used</h2>
      <ul>
        <li><strong>Front-End:</strong> Angular 19, HTML5, CSS3</li>
        <li><strong>Back-End:</strong> C# ASP.NET Core microservices</li>
        <li><strong>Security:</strong> Microsoft Identity with JWT tokens</li>
        <li><strong>Real-Time Communication:</strong> SignalR</li>
        <li><strong>Messaging:</strong> RabbitMQ</li>
        <li><strong>Database:</strong> MySQL</li>
        <li><strong>Package Management:</strong> npm & NuGet (via dotnet CLI) </li>
        <li><strong>Version Control:</strong> Git & GitHub</li>
        <li><strong>Deployment:</strong> Docker, traefik on a Ubuntu server</li>
      </ul>
    </section>
