@if (!selectedArtist()) {
<!-- searchinputbox -->
<div class="d-flex align-items-center" style="width: 240px">
  <input type="text"
         [value]="searchName()"
         (input)="onInput($event)"
         placeholder="Search for artist..."
         class="form-control mb-2" />
  <button type="button" (click)="onDeleteClick()" class="btn btn-danger align-self-start ms-2">Delete</button>
</div>

  @if (artists().length > 0) {
<!-- selection of possible artists -->
<ul class="list-group">
  @for (artist of artists(); track artist.spotifyId) {
  <li class="list-group-item d-flex flex-row align-items-center"
      (click)="selectArtist(artist)"
      [style.cursor]="'pointer'">
    <img src="{{artist.thumbnail}}"
         (error)="artist.thumbnail = 'questionmark.512.png'"
         width="50"
         height="50"
         class="rounded me-3" />
    {{ artist.name }}
  </li>
  }
</ul>
  }
  }

  @if (selectedArtist()) {
<div class="card border rounded-3 p-2" style="width: 240px">
  <div class="d-flex align-items-center">
    <img src="{{selectedArtist()?.thumbnail}}"
         width="50"
         height="50"
         class="rounded me-3" />

    <div class="flex-grow-1">
      {{ selectedArtist()?.name }}
    </div>
    <button type="button" (click)="onDeleteClick()" class="btn btn-danger">Delete</button>
  </div>
</div>
  }
