<div class="d-flex flex-column align-items-center">
  @for (artistCtrl of happeningArtists.controls; let i = $index; track artistCtrl) {
  <div class="mb-2">
    @if (happeningArtists.at(i).get('spotifyId')?.invalid
    && happeningArtists.at(i).get('spotifyId')?.touched){
    <div class="text-danger">Search and pick an artist from the list or remove it.</div>
    }
    <app-artist-input-search (artistSelected)="onArtistSelected($event, i)"
                       (deleteMe)="onArtistRemove(i)">
      [class.is-invalid]="happeningArtists.at(i).get('spotifyId')?.invalid
      && happeningArtists.at(i).get('spotifyId')?.touched">
      >
    </app-artist-input-search>
  </div>
  }
  <button type="button" (click)="addArtist()" class="btn btn-secondary">Add Artist</button>
</div>
