:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-layout {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex: 1;
}

.sidebar {
  flex-shrink: 0;
  width: 250px;
  align-self: stretch;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #dee2e6;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex: 1;
  justify-content: center;
}
