services:
  rabbitmq:
    container_name: rabbitmq
    image: rabbitmq:3-management
    profiles: ["all", "infrastructure"]
    restart: always
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - spotfest
      # dashboard
      - traefik
    ports:
      - "5672:5672"
      - "15672:15672"
    labels:
      - "traefik.enable=true"
      # dashboard
      - "traefik.http.services.rabbitmq-ui.loadbalancer.server.port=15672"
      - "traefik.http.routers.rabbitmq-ui.rule=Host(`${ALTDOMAIN}`) && PathPrefix(`/rabbitmq`)"
      - "traefik.http.routers.rabbitmq-ui.middlewares=rabbitmq-ui-strip"
      - "traefik.http.middlewares.rabbitmq-ui-strip.stripprefix.prefixes=/rabbitmq"
      - "traefik.http.routers.rabbitmq-ui.entrypoints=websecure"
      - "traefik.http.routers.rabbitmq-ui.tls=true"
      - "traefik.http.routers.rabbitmq-ui.tls.certresolver=myresolver"
    environment:
    # from .env
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}

  otel-collector:
    container_name: otel-collector
    image: otel/opentelemetry-collector-contrib:latest
    profiles: ["all", "infrastructure"]
    command: ["--config=/etc/otel-collector-config.yml"]
    restart: always
    volumes:
      - ./otel-collector-config.yml:/etc/otel-collector-config.yml
    ports:
      - "4317:4317"   # OTLP gRPC
      #- "4318:4318"    # OTLP HTTP receiver
      - "8889:8889"   # Prometheus metrics export
    depends_on:
      - jaeger
      - prometheus
    networks:
      - spotfest
      - telemetry

  jaeger:
    container_name: jaeger
    image: jaegertracing/jaeger:2.13.0
    profiles: ["all", "infrastructure"]
    restart: always
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--spider", "-q", "http://localhost:16686"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - telemetry
      # dashboard
      - traefik
    ports:
      - "16686:16686"
    labels:
      - "traefik.enable=true"
      # dashboard
      - "traefik.http.services.jaeger-ui.loadbalancer.server.port=16686"
      - "traefik.http.routers.jaeger-ui.rule=Host(`${ALTDOMAIN}`) && PathPrefix(`/jaeger`)"
      - "traefik.http.routers.jaeger-ui.entrypoints=websecure"
      - "traefik.http.routers.jaeger-ui.tls=true"
      - "traefik.http.routers.jaeger-ui.tls.certresolver=myresolver"
      - "traefik.http.routers.jaeger-ui.service=jaeger-ui"
      # auth
      - "traefik.http.routers.jaeger-ui.middlewares=jaeger-ui-auth"
      - "traefik.http.middlewares.jaeger-ui-auth.basicauth.users=${JAEGER_AUTH_USER}:${JAEGER_AUTH_HASH}"
    environment:
      - QUERY_BASE_PATH=/jaeger
      - JAEGER_UI_BASE_PATH=/jaeger

  prometheus:
    image: prom/prometheus:latest
    profiles: ["all", "infrastructure"]
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - telemetry

  spotfest-db:
    container_name: spotfest-db
    profiles: ["all", "infrastructure"]
    image: mysql:8.0
    restart: always
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - spotfest-db_data:/var/lib/mysql
    networks:
      - spotfest
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}

  authservice:
    container_name: authservice
    profiles: ["all", "services"]
    depends_on:
      rabbitmq:
        condition: service_healthy
      spotfest-db:
        condition: service_healthy
    build:
      context: .
      dockerfile: ./UserAuthService/Dockerfile
    networks:
      - traefik
      - spotfest
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.authservice.rule=Host(`${DOMAIN}`) && PathPrefix(`/api/auth`)"
      - "traefik.http.routers.authservice.entrypoints=websecure"
      - "traefik.http.routers.authservice.tls=true"
      - "traefik.http.routers.authservice.tls.certresolver=myresolver"
      - "traefik.http.services.authservice.loadbalancer.server.port=8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Production
      ConnectionStrings__DefaultConnection: "Server=spotfest-db;Database=${MYSQL_DATABASE};User=${MYSQL_USER};Password=${MYSQL_PASSWORD}"
      RabbitMQ__HostName: rabbitmq
      RabbitMQ__UserName: ${RABBITMQ_DEFAULT_USER}
      RabbitMQ__Password: ${RABBITMQ_DEFAULT_PASS}
      JWT__KEY: ${JWT_KEY}
      JWT__ISSUER: ${JWT_ISSUER}
      JWT__AUDIENCE: ${JWT_AUDIENCE}

  informationservice:
    container_name: informationservice
    profiles: ["all", "services"]
    depends_on:
      spotfest-db:
        condition: service_healthy
    build:
      context: .
      dockerfile: InformationService/Dockerfile
    networks:
      - traefik
      - spotfest
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.informationservice.rule=Host(`${DOMAIN}`) && PathPrefix(`/api/info`)"
      - "traefik.http.routers.informationservice.entrypoints=websecure"
      - "traefik.http.routers.informationservice.tls=true"
      - "traefik.http.routers.informationservice.tls.certresolver=myresolver"
      - "traefik.http.services.informationservice.loadbalancer.server.port=8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Production
      ConnectionStrings__DefaultConnection: "Server=spotfest-db;Database=${MYSQL_DATABASE};User=${MYSQL_USER};Password=${MYSQL_PASSWORD}"
      MAIL_SMTPSERVER: ${MAIL_SMTPSERVER}
      MAIL_PORT: ${MAIL_PORT}
      MAIL_SENDER: ${MAIL_SENDER}
      MAIL_PASSCODE: ${MAIL_PASSCODE}
      MAIL_REPLYTO: ${MAIL_REPLYTO}

  happeningservice:
    container_name: happeningservice
    profiles: ["all", "services"]
    depends_on:
      rabbitmq:
        condition: service_healthy
      spotfest-db:
        condition: service_healthy
    build:
      context: .
      dockerfile: HappeningService/Dockerfile
    networks:
      - traefik
      - spotfest
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.happening.rule=Host(`${DOMAIN}`) && PathPrefix(`/api/happening`)"
      - "traefik.http.routers.happening.entrypoints=websecure"
      - "traefik.http.routers.happening.tls=true"
      - "traefik.http.routers.happening.tls.certresolver=myresolver"
      - "traefik.http.services.happening.loadbalancer.server.port=8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Production
      ConnectionStrings__DefaultConnection: "Server=spotfest-db;Database=${MYSQL_DATABASE};User=${MYSQL_USER};Password=${MYSQL_PASSWORD}"
      RabbitMQ__HostName: rabbitmq
      RabbitMQ__UserName: ${RABBITMQ_DEFAULT_USER}
      RabbitMQ__Password: ${RABBITMQ_DEFAULT_PASS}
      JWT__KEY: ${JWT_KEY}
      JWT__ISSUER: ${JWT_ISSUER}
      JWT__AUDIENCE: ${JWT_AUDIENCE}

  artistservice:
    container_name: artistservice
    profiles: ["all", "services"]
    depends_on:
      rabbitmq:
        condition: service_healthy
      spotfest-db:
        condition: service_healthy
    build:
      context: .
      dockerfile: ArtistService/Dockerfile
    networks:
      - traefik
      - spotfest
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.artist.rule=Host(`${DOMAIN}`) && PathPrefix(`/api/artist`)"
      - "traefik.http.routers.artist.entrypoints=websecure"
      - "traefik.http.routers.artist.tls=true"
      - "traefik.http.routers.artist.tls.certresolver=myresolver"
      - "traefik.http.services.artist.loadbalancer.server.port=8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Production
      ConnectionStrings__DefaultConnection: "Server=spotfest-db;Database=${MYSQL_DATABASE};User=${MYSQL_USER};Password=${MYSQL_PASSWORD}"
      RabbitMQ__HostName: rabbitmq
      RabbitMQ__UserName: ${RABBITMQ_DEFAULT_USER}
      RabbitMQ__Password: ${RABBITMQ_DEFAULT_PASS}

  dataharvester:
    container_name: dataharvester
    profiles: ["all", "services"]
    depends_on:
      rabbitmq:
        condition: service_healthy
    build:
      context: .
      dockerfile: DataHarvester/Dockerfile
    networks:
      - traefik
      - spotfest
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dataharvester.rule=Host(`${DOMAIN}`) && PathPrefix(`/artistsearch`)"
      - "traefik.http.routers.dataharvester.entrypoints=websecure"
      - "traefik.http.routers.dataharvester.tls=true"
      - "traefik.http.routers.dataharvester.tls.certresolver=myresolver"
      - "traefik.http.services.dataharvester.loadbalancer.server.port=8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Production
      RabbitMQ__HostName: rabbitmq
      RabbitMQ__UserName: ${RABBITMQ_DEFAULT_USER}
      RabbitMQ__Password: ${RABBITMQ_DEFAULT_PASS}
      SpotifyAPIClientId: ${SPOTIFY_API_CLIENT_ID}
      SpotifyAPIClientSecret: ${SPOTIFY_API_CLIENT_SECRET}

  jobscheduler:
    container_name: jobscheduler
    profiles: ["all", "services"]
    build:
      context: .
      dockerfile: JobScheduler/Dockerfile
    depends_on:
      rabbitmq:
        condition: service_healthy
      spotfest-db:
        condition: service_healthy
    networks:
      - spotfest
    environment:
      ASPNETCORE_ENVIRONMENT: Production
      ConnectionStrings__DefaultConnection: "Server=spotfest-db;Database=${MYSQL_DATABASE};User=${MYSQL_USER};Password=${MYSQL_PASSWORD}"
      RabbitMQ__HostName: rabbitmq
      RabbitMQ__UserName: ${RABBITMQ_DEFAULT_USER}
      RabbitMQ__Password: ${RABBITMQ_DEFAULT_PASS}

  frontend:
    container_name: frontend
    profiles: ["all", "services"]
    build: ./Frontend
    networks:
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=Host(`${DOMAIN}`)"
      - "traefik.http.routers.frontend.entrypoints=websecure"
      - "traefik.http.routers.frontend.tls=true"
      - "traefik.http.routers.frontend.tls.certresolver=myresolver"
      - "traefik.http.services.frontend.loadbalancer.server.port=80"

volumes:
  spotfest-db_data:
  rabbitmq_data:

networks:
  traefik:
    external: true
  spotfest:
    driver: bridge
  telemetry:
    driver: bridge
