
<form [formGroup]="happeningForm" (ngSubmit)="submit()" class="d-flex flex-column" style="width: 240px">

  <div class="mb-4">
    <label for="name" class="form-label"
           [ngClass]="{'text-danger': isInvalid('name'),
                     'text-muted': !isInvalid('name')}">
      @if(isInvalid('name')){Name of the happening is required}@else{Name}
    </label>
    <input id="name"
           formControlName="name"
           type="text"
           class="form-control"
           [class.is-invalid]="isInvalid('name')" />
  </div>

  <div class="mb-4">
    <label for="startDate" class="form-label"
           [ngClass]="{'text-danger': isInvalid('startDate'),
                     'text-muted': !isInvalid('startDate')}">
      @if(isInvalid('startDate')){Start date is required}@else{Start date}
    </label>
    <input id="startDate"
           formControlName="startDate"
           type="date"
           class="form-control"
           [class.is-invalid]="isInvalid('startDate')" />
  </div>

  <div class="mb-4">
    <label for="endDate" class="form-label text-muted">End date</label>
    <input id="endDate"
           formControlName="endDate"
           type="date"
           class="form-control" />
  </div>

  <div formArrayName="happeningArtists" class="mb-3">
    <h5 class="text-center">Artists</h5>
    <app-artist-search></app-artist-search>
  </div>
  <button type="submit"
          class="mt-4 px-4 py-2 rounded shadow">
    Create happening
  </button>
</form>

<div class="bottom-spacer" style="height: 120px"></div>
