
<form [formGroup]="happeningForm" (ngSubmit)="submit()">

  <div class="block mb-4">
    <label for="name" class="form-label"
           [ngClass]="{'text-danger': isInvalid('name'),
                     'text-muted': !isInvalid('name')}">
      @if(isInvalid('name')){Name of the happening is required}@else{Name}
    </label>
    <input id="name"
           formControlName="name"
           type="text"
           class="form-control"
           [class.is-invalid]="isInvalid('name')" />
  </div>

  <div class="block mb-4">
    <label for="startDate" class="form-label"
           [ngClass]="{'text-danger': isInvalid('startDate'),
                     'text-muted': !isInvalid('startDate')}">
      @if(isInvalid('startDate')){Start date is required}@else{Start date}
    </label>
    <input id="startDate"
           formControlName="startDate"
           type="date"
           class="form-control"
           [class.is-invalid]="isInvalid('startDate')" />
  </div>

  <div class="block mb-4">
    <label for="endDate" class="form-label">End date</label>
    <input id="endDate"
           formControlName="endDate"
           type="date"
           class="form-control" />
  </div>

  <div formArrayName="happeningArtists" class="mb-3">
    <h5>Artists</h5>
    @for (artistCtrl of happeningArtists.controls; let i = $index; track artistCtrl) {
    <div [formGroupName]="i" class="mb-2">
      @if (happeningArtists.at(i).get('spotifyId')?.invalid
      && happeningArtists.at(i).get('spotifyId')?.touched){
      <div class="text-danger">Search and pick an artist from the list or remove it.</div>
      }
      <div class="d-flex align-items-center">
        <app-artist-search (artistSelected)="onArtistSelected($event, i)"
                           [class.is-invalid]="happeningArtists.at(i).get('spotifyId')?.invalid
                                          && happeningArtists.at(i).get('spotifyId')?.touched">
          >
        </app-artist-search>
        <button type="button" (click)="removeArtist(i)" class="btn btn-danger align-self-start ms-2">Delete</button>
      </div>
    </div>
    }
    <button type="button" (click)="addArtist()" class="btn btn-secondary">Add Artist</button>
  </div>
  <button type="submit"
          class="mt-4 px-4 py-2 rounded shadow">
    Create happening
  </button>
</form>

<div class="bottom-spacer" style="height: 120px"></div>
