<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="card shadow-lg p-4" style="max-width: 400px; width: 100%;">

    <h3 class="text-center mb-4">Login</h3>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="mb-4">
        <label class="form-label" for="email"
               [ngClass]="{'text-danger': isInvalid('email'),
                         'text-muted': !isInvalid('email')}">
          @if(isInvalid('email')){email is required}@else{email}
        </label>
        <input id="email"
               formControlName="email"
               class="form-control"
               type="text"
               placeholder="Enter email"
               [class.is-invalid]="isInvalid('email')" />
      </div>

      <div class="mb-4">
        <label class="form-label" for="password"
               [ngClass]="{'text-danger': isInvalid('password'),
                         'text-muted': !isInvalid('password')}">
          @if(isInvalid('password')){Password is required}@else{Password}
        </label>
        <input id="password"
               formControlName="password"
               class="form-control"
               type="password"
               placeholder="Enter password"
               [class.is-invalid]="isInvalid('password')" />
      </div>

      <button type="submit" class="d-block mx-auto mt-4 px-4 py-2 rounded shadow" [disabled]="loginForm.invalid || isLoading">
        Login
      </button>

      <div *ngIf="errorMessage" class="alert alert-danger mt-3 text-center">
        {{ errorMessage }}
      </div>
    </form>
  </div>
</div>
