<div class="d-flex flex-column align-items-center">
  @if (loading()) {
  <p>Loading…</p>
  } @else if (error()) {
  <app-404></app-404>
  } @else {
  <section class="general-info">
    <h1 class="title">{{ happening().name }}</h1>
    <p class="date">{{ happening().startDate | date:'longDate' }}</p>
  </section>

  <div class="artist-list d-flex justify-content-center">
    @for (artist of happening().artistSummaries; track artist) {
    <app-artist-summary [guid]="artist.guid"
                        [name]="artist.name"
                        [pictureUrl]="artist.pictureSmallUrl">
    </app-artist-summary>
    }
  </div>
  <app-happening-add-artist class="d-flex justify-content-center pt-5"
                            [guid]="happening().guid"
                            (refreshRequested)="refresh()">
  </app-happening-add-artist>
  }
</div>
