@if (loading()) {
  <p>Loading…</p>
} @else if (error()) {
<app-404></app-404>
} @else {
  <section class="general-info">
    <h1 class="title">{{ happening().name }}</h1>
    <p class="date">{{ happening().startDate | date:'longDate' }}</p>
  </section>

  <div class="artist-list">
    @for (artist of happening().artistSummaries; track artist) {
      <app-artist-summary
        [guid]="artist.guid"
        [name]="artist.name"
        [pictureUrl]="artist.pictureSmallUrl">
      </app-artist-summary>
    }
  </div>
}
