.sidebar {
  width: 250px;
  transition: width 0.2s ease;
}

  .sidebar.collapsed {
    width: 0;
    padding: 0;
  }

  .sidebar > * {
    min-width: 210px;
  }

.sidebar-fixed {
  width: 18px;
  flex-shrink: 0;
}

.toggle-btn {
  position: absolute;
  left: -18px;
  top: 20px;
  width: 36px;
  height: 36px;
  z-index: 10;
  padding: 0;
  transition: all 0.2s;
}

.add-btn {
  position: absolute;
  left: -18px;
  top: 76px;
  width: 36px;
  height: 36px;
  z-index: 10;
  padding: 0;
}


