<footer class="bg-light text-dark py-3 mt-auto border-top">
  <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">

    <div class="mb-2 mb-md-0 d-flex align-items-center">
      <img src="logo.ico"
           alt="MyMusicApp logo"
           width="24"
           height="24"
           class="me-2" />
      <span class="fw-semibold">SpotFest</span>
    </div>

    <div class="text-secondary small text-center text-md-end">
      &copy; {{ currentYear }} SpotFest. All rights reserved.
    </div>

  </div>
</footer>
